<%- include('includes/head.ejs') %>   
<%- include('includes/navigation.ejs') %>

<main class="container my-3">
    <h2>My Shop</h2>
    <h4>Add a Product!</h4>
    <form action="/product" method="POST" >
        <div class="form-group">
            <label for='title'>Title</label>
            <input class="form-control" type="text" name="title" id='title'>
        </div>
        
        <div class="form-group">
            <label for='price'>Price</label>
            <input class="form-control" type="number" name="price" id='price'>
        </div>
        
        <br>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</main>

<%- include('includes/end.ejs') %>